
html {
  height: 100%;
}

body,
#__nuxt,
#__layout,
#__layout > div {
  min-height: 100vh;
}
@import './micromodal.scss';

body {
  font-family: "Commissioner";
  line-height: 17px;
  background-color: #fafafa;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;

  .single-project,
  .projects-list {
    transition: transform 20s;
  }
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter {
  .single-project,
  .projects-list {
    transform: translateX(-50px);
  }
}

.page-leave-to {
  .single-project,
  .projects-list {
    transform: translateX(50px);
  }
}


// *:focus {
//   outline: 3px dashed red !important;
// }


.custom-radio-btn {

  input {
    width: 24px;
    opacity: 0;
  } 

  label {
    position: relative;
    color: #000;
    transition: color .3s;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: calc(-1.5rem + -24px);
      border-radius: 50%;
      cursor: pointer;
    }

    &:before {
      top: 0;
      width: 24px;
      height: 24px;
      border: 1px solid rgba(0, 0, 0, .15);
    }

    &:after {
      top: 6px;
      transform: translateX(6px);
      width: 12px;
      height: 12px;
      background-color: transparent;
      transition: background-color .3s; 
    }

    &:hover {
      color: #3CB3AB;
    }
  }

  input:checked ~ label,
  input:focus ~ label {
    // color: #3CB3AB;
    &:after {
      background-color: #3CB3AB;
    }
  }

  input:disabled ~ label:hover {
    color: inherit;
  }
}